*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

@font-face {
    font-family: 'tenor_sansregular';
    src: url('../fonts/tenorsans-regular-webfont.woff2') format('woff2'),
        url('../fonts/tenorsans-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'mr_HamiltoneG';
    src: url('../fonts/mr_hamiltoneg.woff2') format('woff2'),
        url('../fonts/mr_hamiltoneg.woff') format('woff');
}

:root {
    --font-hamiltoneG: 'mr_HamiltoneG';
    --font-tenor: 'tenor_sansregular';

    --color-black: #231917;
    --color-green: #6f7a42;
    --color-cream: #fbf6e5;
    --color-product-type: #8d8877;
}

body {
    font-family: var(--font-tenor);
    font-size: 24px;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--color-cream);
}

[class*="__container"] {
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    padding: 0px 20px;
}

@media (max-width: 1919px) {
    [class*="__container"] {
        max-width: 1280px;
    }
}

@media (max-width: 1439px) {
    [class*="__container"] {
        max-width: 980px;
    }
}

@media (max-width: 979px) {
    [class*="__container"] {
        max-width: 438px;
    }
}

@media (max-width: 469px) {
    [class*="__container"] {
        max-width: 383px;
    }
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--color-cream);
}


.header__container {
    height: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 433px;
    height: 150px;
}

.logo-mb {
    display: none;
}

.menu {}

.menu__list {
    display: flex;
    gap: 60px
}

.menu__item {}

.menu__link {
    font-family: var(--font-tenor);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;

    color: var(--color-black);

}

@media (max-width: 1919px) {
    .header__container {
        height: 144px;
    }

    .logo {
        width: 319px;
        height: 112px;
    }

    .menu {
        margin-bottom: 40px;
    }

    .menu__link {
        font-size: 24px;
        line-height: 1.16;
    }
}

@media (max-width: 1439px) {
    .menu {
        margin-bottom: 20px;
    }
}

@media (max-width: 979px) {
    .header__container {
        height: 80px;
    }

    .logo {
        display: none;
        width: 48px;
        height: 56px;
    }

    .logo-mb {
        display: block;
    }

    .menu {
        margin-bottom: 0px;
    }

    .menu__list {
        gap: 20px;
    }

    .menu__link {
        font-size: 14px;
        line-height: 1.14;
    }
}

@media (max-width: 469px) {
    .header__container {
        height: 72px;
    }

    .menu__list {
        gap: 20px;
    }
}


.decor {}


.decor__container {
    position: relative;
    z-index: 99999;
}

.decor__image {
    width: 1151px;
    height: 1195px;
    display: block;
    margin: 0 auto;
}


.decor__text {
    font-family: var(--font-hamiltoneG);
    font-style: normal;
    font-weight: 400;
    font-size: 439.14px;
    line-height: 1.86;

    color: var(--color-black);
}

.decor__text p:nth-child(1) {
    position: absolute;
    top: 93px;
}

.decor__text p:nth-child(2) {
    position: absolute;
    top: 550px;
    left: 258px;
    font-size: 393.4px;
}

@media (max-width: 1919px) {
    .decor {
        margin-top: 80px;
    }

    .decor__image {
        width: 847px;
        height: 880px;
    }

    .decor__text p:nth-child(1) {
        top: 128px;
        left: 106px;
        font-size: 323px;
    }

    .decor__text p:nth-child(2) {
        top: 420px;
        left: 296px;
        font-size: 290px;
    }
}

@media (max-width: 1439px) {
    .decor__image {
        width: 635px;
        height: auto;
    }

    .decor__text p:nth-child(1) {
        top: 55px;
        left: 86px;
        font-size: 223px;
    }

    .decor__text p:nth-child(2) {
        top: 260px;
        left: 226px;
        font-size: 190px;
    }
}

@media (max-width: 979px) {
    .decor {
        margin-top: 80px;
    }

    .decor__image {
        width: 398px;
        height: 413px;
    }

    .decor__text p:nth-child(1) {
        top: 76px;
        left: 0;
        font-size: 96px;
    }

    .decor__text p:nth-child(2) {
        top: 162px;
        left: 54px;
        font-size: 96px;
    }
}

@media (max-width: 469px) {
    .decor {
        margin-top: 72px;
    }
    .decor__image {
        width: 343px;
        height: 356px;
    }
    .decor__text {
        font-size: 80px;
        line-height: 1.86;
    }
    .decor__text p:nth-child(1) {
        position: absolute;
        top: 63px;
    }

    .decor__text p:nth-child(2) {
        position: absolute;
        top: 153px;
        left: 63px;
        font-size: 80px;
    }

}

.main {
    margin-top: 141px;
}

.main__container {}

.tools {}

.tools__container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

@media (max-width: 1919px) {
    main {
        margin-top: 130px;
    }
}

@media (max-width: 979px) {
    .main {
        margin-top: 80px;
    }
}

@media (max-width: 469px) {
    .main {
        margin-top: 64px;
    }
}

.categories {}

.categories__list {
    display: flex;
    gap: 25px;
}

.categories__item {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.17;

    color: var(--color-black);
}

.category__title::after {
    content: '\005C';
    width: 1px;
    height: 1px;
    margin-left: 25px;
    color: var(--color-black) !important;
}

.categories__list .categories__item:nth-child(3) .category__title::after {
    content: '';
}

.active-category {
    color: #8C2529;
}

.filter {
    display: flex;
    align-items: center;
    gap: 20px;

    font-weight: 400;
    font-size: 40px;
    line-height: 1.17;

    color: var(--color-black);
}

.filter__btn {
    background-color: transparent;
    cursor: pointer;
}

@media (max-width: 1919px) {
    .categories__item {
        font-size: 32px;
        line-height: 1.15;
    }

    .filter {
        gap: 24px;
        font-size: 32px;
        line-height: 1.15;
    }
}

@media (max-width: 979px) {
    .categories__list {
        gap: 8px;
    }
    .categories__item {
        font-size: 20px;
        line-height: 1.15;
    }
    .category__title::after {
        margin-left: 8px;
    }
    .tools__container {
        flex-direction: column;
        gap: 24px;
    }
    .filter {
        justify-content: flex-end;
        gap: 16px;
        font-size: 16px;
        line-height: 1.18;
    }
    .filter__btn img {
        width: 19px;
        height: 19px;
    }
}

@media (max-width: 469px) {
    .categories__list {
        justify-content: center;
        gap: 4px;
    }
    .category__title::after {
        margin-left: 4px;
    }
    .categories__item {
        font-size: 16px;
        line-height: 1.14;
    }
    .filter {
        gap: 17px;
    }
}

.products {
    margin-top: 48px;
}


.products__container {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-column-gap: 32px;
}


@media (max-width: 1919px) {
    .products {
        margin-top: 40px;
    }
}

@media (max-width: 979px) {
    .products__container {
        grid-template-columns: repeat(2, 0fr);
    }

    .products {
        margin-top: 12px;
    }
}

@media (max-width: 469px) {
    .products__container {
        grid-template-columns: 1fr;
        justify-items: center
    }
}


.product {
    /* flex: 1 1 371px; */
    max-width: 371px;
    padding-top: 32px;
    padding-bottom: 88px;
    border-bottom: 1px solid var(--color-black);
}

.product__info {
    margin-top: 19px;
}

.product__type {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;

    color: var(--color-product-type);
}

.product__title {
    margin-top: 8px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;

    color: var(--color-black);
}

.product__image {
    width: 371px;
    height: 285px;
}

.desc-btn {
    width: fit-content;
    margin-top: 20px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid var(--color-black);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    cursor: pointer;

    transition: 0.3s;
}

@media (max-width: 1919px) {
    .product {
        /* flex: 1 1 260px; */
        max-width: 260px;
    }

    .product__type {
        font-size: 10px;
        line-height: 1.17;
    }

    .product__title {
        font-size: 20px;
        line-height: 1.17;
    }

    .product__image {
        width: 260px;
        height: 210px;
    }

    .desc-btn {
        margin-top: 16px;
        padding: 8px 10px;
        font-size: 16px;
        line-height: 1.17;
    }
}

@media (max-width: 1439px) {
    .product {
        max-width: 180px;
    }

    .product__image {
        width: 180px;
        height: auto;
    }
}

@media (max-width: 979px) {
    .product {
        padding-bottom: 89px;
    }

    .products__container .products__box:first-child {
        margin-top: 36px;
    }

    .product__type {
        margin-top: 19px;
    }

    .product__title {
        font-size: 16px;
        line-height: 1.17;
    }

    .product__image {
        width: 180px;
        height: auto;
    }

    .desc-btn {
        margin-top: 16px;
        padding: 4px 8px;
        font-size: 12px;
        line-height: 1.16;
    }
}

@media (max-width: 469px) {
    .product {
        max-width: 303px;
    }
    .product__image {
        width: 100%;
    }
}

.desc-btn:hover,
.desc-btn:hover>.desc-btn__link {
    border-color: #8C2529;
    color: #8C2529;
}

.desc-btn:hover {
    transform: rotate(-5deg);
}

.desc-btn__link {
    display: block;
    color: var(--color-black);
}

.desc-btn__link:visited {
    color: var(--color-black);
}

.contact-us {
    position: absolute;
    top: 1023px;
    right: 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;
    text-decoration-line: underline;
    color: var(--color-black);
    background-color: transparent;
}

@media (max-width: 1919px) {
    .contact-us {
        top: 822px;
        font-size: 24px;
        line-height: 1.66;
    }
}

@media (max-width: 1439px) {
    .contact-us {
        top: 752px;
    }
}

@media (max-width: 979px) {
    .contact-us {
        top: 512px;
        max-width: 100px;
        padding: 8px;
        background-color: #e7e2d1;
        border-radius: 10px 0px 0px 10px;
        text-align: center;

        font-size: 16px;
        line-height: 1.14;
        text-decoration-line: none;
    }
}

@media (max-width: 469px) {
    .contact-us {
        top: 419px;
    }
}


.product-info {
    position: absolute;
    top: 1405px;
    right: 0;
    width: 469px;
    padding: 24px 24px 160px 24px;
    background-color: #e7e2d1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-info__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;
    text-align: center;
    color: var(--color-black);
}

.product-info__name {
    margin-top: 16px;
    font-family: var(--font-hamiltoneG);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.85;
    letter-spacing: 0.05em;

    text-align: center;

    color: var(--color-black);
}

.product-info__desc {
    margin-top: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: #8C2529;
}

.product-info__close-btn {
    display: none;
    margin: 0 auto;
    margin-top: 28px;
    padding: 8px 12px;
    background-color: transparent;
    border: 1px solid var(--color-black);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    color: var(--color-black);
}

/* product-info title with margin */
.pi-title-m {
    margin-top: 48px;
}

@media (max-width: 1919px) {
    .product-info {
        width: 30%;
        top: 1157px;
        right: 0;
        padding: 24px 16px 72px 16px;
    }

    .product-info__title {
        font-size: 24px;
        line-height: 1.16;
    }

    .product-info__name {
        font-size: 40px;
        line-height: 1.85;
        letter-spacing: 0.05em;
    }

    .product-info__desc {
        margin-top: 32px;
        font-size: 16px;
        line-height: 1.18;
    }
}

@media (max-width: 1439px) {
    .product-info {
        top: 960px;
    }
}

@media (max-width: 979px) {
    .product-info {
        display: none;
        min-height: 100vh;
        top: 0;
        left: 0;
        width: 100%;
        padding: 24px 11px 20px 11px;
        z-index: 999999;
    }

    .product-info__close-btn {
        display: block;
    }
}

.characteristics {
    margin-top: 16px;
}

.characteristic {
    display: flex;
    gap: 18px;
    margin-top: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(35, 25, 23, 0.5);
}

.characteristics .characteristic:first-child {
    margin-top: 0;
}

.characteristic__title {
    min-width: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: #8C2529;
}

.characteristic__body {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: rgba(35, 25, 23, 0.5);
}

@media (max-width: 1919px) {
    .characteristics {
        margin-top: 24px;
    }

    .characteristic {
        margin-top: 16px;
        gap: 20px;
    }

    .characteristic__title {
        font-size: 16px;
        line-height: 1.18;
    }

    .characteristic__body {
        font-size: 16px;
        line-height: 1.18;
    }
}

.footer {
    margin-top: 48px;
    padding-bottom: 24px;
}

.footer__soc-media {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;

    color: var(--color-black);
}

.footer__soc-media p {
    display: block;
    max-width: 820px;
    text-align: center;
}

.soc-media__list {
    margin-top: 45px;
    display: flex;
    gap: 36px;
}

.soc-media__icon {
    width: 64px;
    height: 64px;
}

.copyright {
    margin-top: 48px;
    text-align: center;
}

@media (max-width: 1919px) {
    .soc-media__icon {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 979px) {
    .footer {
        margin-top: 24px;
    }
    .footer__soc-media p {
        font-size: 14px;
        line-height: 1.17 ;
    }
    .soc-media__icon {
        width: 32px;
        height: 32px;
    }
    .copyright {
        margin-top: 32px;
        font-size: 20px;
        line-height: 1.15;
    }
}

/* news-page */

.image-decor-news {
    margin-top: 120px;
    width: 742px;
    height: 869px;
}

@media (max-width: 1919px) {
    .image-decor-news {
        margin-top: 25px;
        width: 576px;
        height: 675px;
    }
}

@media (max-width: 979px) {
    .image-decor-news {
        margin-top: 0px;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 469px) {
    .image-decor-news {
        margin-top: 8px;
        width: 100%;
        height: auto;
    }
}


.news-box {
    margin-top: 240px;
}

.news-box__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1919px) {
    .news-box {
        margin-top: 200px;
    }
}

@media (max-width: 979px) {
    .news-box {
        margin-top: 82px;
    }
}

@media (max-width: 469px) {
    .news-box {
        margin-top: 80px;
    }
}

.news-box__title {
    width: 698px;

    font-family: var(--font-hamiltoneG);
    font-weight: 400;
    font-size: 200px;
    line-height: 1.86;
    text-align: left;
}

.news-box__title div:last-child {
    text-align: right;
    position: relative;
    bottom: 240px;
    font-feature-settings: 'ss02' on;
}

.news {
    position: relative;
    padding: 48px 48px 139px 48px;
    background-color: #e7e2d1;
    margin-bottom: 194px;
}

.news-box__container .news:last-child {
    margin-bottom: 155px;
}

@media (max-width: 1919px) {
    .news {
        max-width: 672px;
    }
    .news-box__container .news:last-child {
        margin-bottom: 100px;
    }
}

.news__image {
    width: 100%;
    border-radius: 15px;
}

.news__title {
    margin-top: 48px;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.17;
    color: var(--color-black);
}

.news__product {
    margin-top: 10px;
    position: absolute;
    right: 48px;

    font-family: var(--font-hamiltoneG);
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 1.85;
}

@media (max-width: 979px) {
    .news-box__title {
        width: 327px;
        font-size: 96px;
    }
    .news-box__title div:last-child {
        bottom: 115px;
    }
    .news {
        padding: 21px 21px 61px 21px;
        margin-bottom: 77px;
    }
    .news__title {
        margin-top: 21px;
        font-size: 17px;
        line-height: 1.2;
    }
    .news__product {
        font-size: 56px;
        right: 21px;
    }
}

@media (max-width: 469px) {
    .news {
        padding: 18px 18px 53px 18px;
    }
    .news__title {
        margin-top: 18px;
        font-size: 15px;
    }
    .news__product {
        font-size: 49px;
    }
}
