*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

@font-face {
    font-family: 'tenor_sansregular';
    src: url('../fonts/tenorsans-regular-webfont.woff2') format('woff2'),
        url('../fonts/tenorsans-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'mr_HamiltoneG';
    src: url('../fonts/mr_hamiltoneg.woff2') format('woff2'),
        url('../fonts/mr_hamiltoneg.woff') format('woff');
}

:root {
    --font-hamiltoneG: 'mr_HamiltoneG';
    --font-tenor: 'tenor_sansregular';

    --color-black: #231917;
    --color-green: #6f7a42;
    --color-cream: #fbf6e5;
}

body {
    font-family: var(--font-tenor);
    font-size: 24px;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--color-cream);
}

[class*="__container"] {
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    padding: 0px 20px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--color-cream);
}

.header__container {
    height: 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 433px;
    height: 150px;
}

.menu {}

.menu__list {
    display: flex;
    gap: 60px
}

.menu__item {}

.menu__link {
    font-family: var(--font-tenor);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.15;

    color: var(--color-black);

}

.decor {}

.decor__container {
    position: relative;
    z-index: 99999;
}

.decor__image {
    width: 1151px;
    height: 1195px;
    display: block;
    margin: 0 auto;
}

.decor__text {
    font-family: var(--font-hamiltoneG);
    font-style: normal;
    font-weight: 400;
    font-size: 439.14px;
    line-height: 1.86;

    color: var(--color-black);
}

.decor__text p:nth-child(1) {
    position: absolute;
    top: 93px;
}

.decor__text p:nth-child(2) {
    position: absolute;
    top: 550px;
    left: 258px;
    font-size: 393.4px;
}

.main {
    margin-top: 141px;
}

.main__container {}

.tools {}

.tools__container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.categories {}

.categories__list {
    display: flex;
    gap: 25px;
}

.categories__item {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.17;

    color: var(--color-black);
}

.category__title::after {
    content: '\005C';
    width: 1px;
    height: 1px;
    margin-left: 25px;
    color: var(--color-black) !important;
}

.categories__list .categories__item:nth-child(3) .category__title::after {
    content: '';
}

.active-category {
    color: #8C2529;
}

.filter {
    display: flex;
    align-items: center;
    gap: 20px;

    font-weight: 400;
    font-size: 40px;
    line-height: 1.17;

    color: var(--color-black);
}

.filter__btn {
    background-color: transparent;
    cursor: pointer;
}
